# FastAPI Configuration
APP_HOST=0.0.0.0
APP_PORT=8000

# Broker
BROKER_API_URL=http://localhost:8000
BROKER_API_KEY=your_broker_api_key

# NATS Configuration
NATS_URL=nats://localhost:4222
NATS_TOKEN=your_nats_token

# Market
MARKET_TYPE=FOREX # FOREX/CRYPTO

# MT5 Connection Configuration
# (In case MT5_PATH null, module will find by registry)
MT5_SERVER=Exness-MT5Trial6
MT5_LOGIN=413652379
MT5_PASSWORD=your_password
MT5_PATH="C:/Program Files/MetaTrader 5/terminal64.exe"
MT5_NAME=WangDemo1

# MT5 Strategy Configuration
MAGIC_NUMBER=20260409
SLIPPAGE_DEVIATION=100 # 100 point = $1.00

# Init capital and risk management
VOLUME_DECISION_ENABLED=true
CAPITAL=1000
CAPITAL_CURRENCY=USC
RISK_PERCENTAGE=3.0 # Risk 1% of capital per trade
USE_ACCOUNT_EQUITY=false # If true, use account equity instead of initial capital for entry volume calculation


# ─────────────────────────────────────────────────────────────────
# Telegram
# TELEGRAM_CHAT_ID is for individual chat, manage service, nats worker notifications, etc.
# TELEGRAM_CHAT_CHANNEL_ID is for broadcasting channel as group includes Broker, Workers and administrators.
# ─────────────────────────────────────────────────────────────────
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_CHAT_CHANNEL_ID="-"
