# ZeroMQ Configuration
ZMQ_SUB_HOST=tcp://127.0.0.1:5555

# ZMQ CURVE Security: run command make generate-keys
# ZMQ_CURVE_CLIENT_PUBLIC_KEY=""
# ZMQ_CURVE_CLIENT_SECRET_KEY=""
# ZMQ_CURVE_SERVER_PUBLIC_KEY=""

# Market
MARKET_TYPE=FOREX
# MARKET_TYPE=CRYPTO

# MT5 Connection Configuration
# (In case MT5_PATH null, module will find by registry)
MT5_SERVER=Exness-MT5Trial6
MT5_LOGIN=413652379
MT5_PASSWORD=your_password
MT5_PATH=C:/Program Files/MetaTrader 5/terminal64.exe
MT5_NAME=WangDemo1

# Strategy Configuration
MAGIC_NUMBER=1001
SLIPPAGE_DEVIATION=20

# ─────────────────────────────────────────────────────────────────
# Telegram
# ─────────────────────────────────────────────────────────────────
TELEGRAM_ENABLED=true
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# FastAPI Configuration
APP_HOST=0.0.0.0
APP_PORT=8000
